@model IEnumerable<ITHSCourseSchoolWEB.Models.DTO.Course.ViewCourseDetailsDTO>    



@{
    ViewData["Title"] = "ITHS - Course";
}

<div class="text-center">
    <h3 class="display-6">Welcome to online university!</h3>
    <p>Below is a small list of available courses :)</p>
</div>


@foreach (var item in Model)
{
    <div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Kursnummer:  @item.Id</div>
            <div class="card-body">
                <p class="card-text">Titel:  @item.CourseTitle</p>
            </div>
        </div>
    </div>
}
