html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.lower {
    margin-top: 195px;
    padding-bottom: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

lower .bottom {
    min-height: 150px;
    position: relative;
}

*, ::after, ::before {
    box-sizing: border-box;
}


div {
    display: block;
}

.lower .bottom .bg3 {
    background-image: url(cloud1.png);
    z-index: 2;
}

.lower .bottom div {
    position: absolute;
    background-position-y: bottom;
    background-repeat: repeat-x;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.lower .bottom .bg2 {
    background-image: url(cloud3.png);
    
    z-index: 3;
    transform: translateY(15px);
    animation: move 15s infinite linear;
    -webkit-animation: move 15s infinite linear;
}


.lower .bottom .bg1 {
    background-image: url(cloud2.png);
    z-index: 1;
    transform: translateY(-15px): -webkit-animation: move 15s infinite linear reverse;
}
*/